<h1>Welcome to our amazing landing page!</h1>

<%# pe %>
<%= Date.today %>

<%# er %>
<% "Hello" %>

<form action="/contacts" method="get">
  <input type="text" name="contact">
  <input type="submit">
</form>